/* margin - for the outer borders
padding - for the inner */

h1{
    text-align: center;
    margin: auto;
    font-weight: bold;
    font-style: italic;
}

.foo{
    text-align: center;
    margin: auto;
}

.myPic{
    width: 100%;
    max-width: 60px;
    height: auto;
}
